:root {
  --background-color: #222222;
}

body {
  font-family: monospace;
  background-color: var(--background-color);
  color: white;
}

nav {
  position: sticky !important;
  top: 0 !important;
  z-index: 40;
  background-color: var(--background-color) !important;
  height: 7vh;
  max-height: 7vh;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
